<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJs</title>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	
<body ng-app="CrudApp">
	<div class="container">	
		<div ng-view>
			<h2>Home, choose a type</h2>
				<div>
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="choice in choices">
								<td>{{choice.tableName}}</td>
				 
								<td><button class="btn btn-primary" id="type-choice" ng-click="select(choice)">
										Select<span class="glyphicon glyphicon-hand-up" />
								    </button>
				                        </td>
							</tr>
						</tbody>
					</table>
				</div>
		
		</div>		
	</div>
 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>	
</body>
</html>