<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AngularJs</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	</head>	
	<body ng-app="MocApp">
		<div class="container">	
			<div ng-view>
				 <h1>Hello {{name}}!</h1><!--variable transmise au template et interpreter avec les balises handleBars-->
				 
				<h2>Home, choose a type</h2>
					<div>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="choice in choices">
									<td>{{choice.tableName}}</td>
					 
									<td><button class="btn btn-primary" id="type-choice" ng-click="select(choice)">
											Select<span class="glyphicon glyphicon-hand-up" />
									    </button>
					                        </td>
								</tr>
							</tbody>
						</table>
					</div>
			
			</div>		
		</div>
	</body>
</html>